<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waiend.pddou.core.cinema.mapper.CinemaMapper">
  <resultMap id="BaseResultMap" type="com.waiend.pddou.core.cinema.entity.CinemaEntity">
    <!--@mbg.generated-->
    <!--@Table pddou_cinema-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cinema_name" jdbcType="VARCHAR" property="cinemaName" />
    <result column="cinema_phone" jdbcType="CHAR" property="cinemaPhone" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="specified_address" jdbcType="VARCHAR" property="specifiedAddress" />
    <result column="employee_id" jdbcType="BIGINT" property="employeeId" />
    <result column="is_block" jdbcType="BOOLEAN" property="isBlock" />
    <result column="is_examine" jdbcType="VARCHAR" property="isExamine" />
    <result column="check_employee_id" jdbcType="BIGINT" property="checkEmployeeId" />
    <result column="check_time" jdbcType="TIMESTAMP" property="checkTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, cinema_name, cinema_phone, province, city, county, specified_address, employee_id, 
    is_block, is_examine, check_employee_id, check_time, create_time, updateTime
  </sql>

  <select id="selectCountCinema" resultType="int">
    SELECT count(*)
    FROM pddou_cinema c
    JOIN sys_employee e1
    ON c.employee_id=e1.id
    LEFT JOIN sys_employee e2
    ON c.check_employee_id=e2.id
    <where>
      <if test="cinemaName != null and cinemaName != ''">
        cinema_name LIKE CONCAT('%',#{cinemaName},'%')
      </if>
      <if test="isExamine != null and isExamine != ''">
        AND c.is_examine=#{isExamine}
      </if>
      <if test="isBlock != null">
        AND c.is_block=#{isBlock}
      </if>
    </where>
  </select>

  <select id="selectCinemaList" resultType="com.waiend.pddou.core.cinema.vo.CinemaVo">
    SELECT c.id, c.cinema_name, c.cinema_phone, c.province, c.city, c.specified_address, e1.`name` AS legal_person, e2.`name` AS check_person, c.is_examine, c.is_block, c.check_time
    FROM pddou_cinema c
    JOIN sys_employee e1
    ON c.employee_id=e1.id
    LEFT JOIN sys_employee e2
    ON c.check_employee_id=e2.id
    <where>
      <if test="cinemaName != null and cinemaName != ''">
        cinema_name LIKE CONCAT('%',#{cinemaName},'%')
      </if>
      <if test="isExamine != null and isExamine != ''">
        AND c.is_examine=#{isExamine}
      </if>
      <if test="isBlock != null">
        AND c.is_block=#{isBlock}
      </if>
    </where>
    ORDER BY c.create_time DESC
    LIMIT #{page}, #{limit}
  </select>
</mapper>