<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waiend.pddou.core.cinema.mapper.CinemaMapper">
  <resultMap id="BaseResultMap" type="com.waiend.pddou.core.cinema.entity.CinemaEntity">
    <!--@mbg.generated-->
    <!--@Table pddou_cinema-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cinema_name" jdbcType="VARCHAR" property="cinemaName" />
    <result column="cinema_phone" jdbcType="CHAR" property="cinemaPhone" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="specified_address" jdbcType="VARCHAR" property="specifiedAddress" />
    <result column="legal_person" jdbcType="VARCHAR" property="legalPerson" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="employee_id" jdbcType="BIGINT" property="employeeId" />
    <result column="is_block" jdbcType="BOOLEAN" property="isBlock" />
    <result column="is_examine" jdbcType="VARCHAR" property="isExamine" />
    <result column="check_employee_id" jdbcType="BIGINT" property="checkEmployeeId" />
    <result column="check_time" jdbcType="TIMESTAMP" property="checkTime" />
    <result column="lng" jdbcType="TIMESTAMP" property="lng" />
    <result column="lat" jdbcType="TIMESTAMP" property="lat" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, cinema_name, cinema_phone, province, city, county, specified_address, legal_person, phone, employee_id,
    is_block, is_examine, check_employee_id, check_time, lng, lat, create_time, updateTime
  </sql>

  <select id="selectCountCinema" resultType="int">
    SELECT count(*)
    FROM pddou_cinema c
    LEFT JOIN sys_employee e2
    ON c.check_employee_id=e2.id
    <where>
      <if test="cinemaName != null and cinemaName != ''">
        cinema_name LIKE CONCAT('%',#{cinemaName},'%')
      </if>
      <if test="isExamine != null and isExamine != ''">
        AND c.is_examine=#{isExamine}
      </if>
      <if test="isBlock != null">
        AND c.is_block=#{isBlock}
      </if>
    </where>
  </select>

  <select id="selectCinemaList" resultType="com.waiend.pddou.core.cinema.vo.CinemaVo">
    SELECT c.id, c.cinema_name, c.cinema_phone, c.province, c.city, c.specified_address, c.lng, c.lat, c.legal_person, c.phone, e2.`name` AS check_person, c.is_examine, c.is_block, c.check_time
    FROM pddou_cinema c
    LEFT JOIN sys_employee e2
    ON c.check_employee_id=e2.id
    <where>
      <if test="cinemaName != null and cinemaName != ''">
        cinema_name LIKE CONCAT('%',#{cinemaName},'%')
      </if>
      <if test="isExamine != null and isExamine != ''">
        AND c.is_examine=#{isExamine}
      </if>
      <if test="isBlock != null">
        AND c.is_block=#{isBlock}
      </if>
    </where>
    ORDER BY c.create_time DESC
    LIMIT #{page}, #{limit}
  </select>

  <select id="selectCinemaByCity" resultType="com.waiend.pddou.core.cinema.vo.SelectCinemaVo">
    SELECT id, cinema_name, specified_address, lng, lat
    FROM pddou_cinema
    WHERE is_block=0
    AND is_examine='ON_ACTIVITY'
    AND city=#{city}
    <if test="cinemaName != null and cinemaName != ''">
      AND cinema_name LIKE concat('%',#{cinemaName},'%')
    </if>
  </select>

  <select id="selectMovieListByCinemaId" resultType="com.waiend.pddou.core.movie.entity.MovieEntity">
    SELECT DISTINCT m.id, m.poster, m.`name`, m.score, m.type, m.actor, m.movie_long
    FROM (SELECT movie_id, cinema_id
          FROM pddou_movie_cinema
          WHERE cinema_id=#{cinemaId}
          AND is_show=1) mc
    JOIN pddou_movie m
    ON mc.movie_id=m.id
    JOIN pddou_schedule s
    ON s.movie_id=mc.movie_id AND s.cinema_id=mc.cinema_id
    WHERE s.show_date BETWEEN #{today} AND #{after}
    AND CONCAT(s.show_date,' ',s.show_time) > #{now}
  </select>

  <select id="selectMovieScheduleByCinemaId" resultType="com.waiend.pddou.core.cinema.vo.MovieScheduleVo">
    SELECT s.id AS schedule_id, s.cinema_id, s.movie_id, s.show_date, s.show_time, s.hall_name, m.`language`, m.movie_long, mc.price
    FROM (SELECT * FROM pddou_schedule WHERE cinema_id=#{cinemaId}) s
    JOIN pddou_movie m
    ON s.movie_id=m.id
    JOIN pddou_movie_cinema mc
    ON mc.cinema_id=#{cinemaId} AND mc.movie_id=s.movie_id AND mc.is_show=1
    WHERE s.show_date BETWEEN #{today} AND #{after}
    AND CONCAT(s.show_date,' ',s.show_time) > #{now}
  </select>
</mapper>