<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waiend.pddou.core.schedule.mapper.ScheduleMapper">
  <resultMap id="BaseResultMap" type="com.waiend.pddou.core.schedule.entity.ScheduleEntity">
    <!--@mbg.generated-->
    <!--@Table pddou_schedule-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="movie_id" jdbcType="INTEGER" property="movieId" />
    <result column="cinema_id" jdbcType="INTEGER" property="cinemaId" />
    <result column="hall_name" jdbcType="VARCHAR" property="hallName" />
    <result column="show_date" jdbcType="CHAR" property="showDate" />
    <result column="show_time" jdbcType="CHAR" property="showTime" />
    <result column="seat_info" jdbcType="LONGVARCHAR" property="seatInfo" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, movie_id, cinema_id, hall_name, show_date, show_time, seat_info
  </sql>

  <select id="selectCountScheduleByStore" resultType="int">
    SELECT count(*)
    FROM pddou_schedule s
    JOIN pddou_movie m
    ON s.movie_id=m.id
    JOIN pddou_movie_cinema mc
    ON s.cinema_id=mc.cinema_id AND s.movie_id=mc.movie_id
    WHERE s.cinema_id=#{cinemaId}
    <if test="movieName != null and movieName != ''">
      AND m.`name` LIKE CONCAT('%',#{movieName},'%')
    </if>
    <if test="hallName != null and hallName != ''">
      AND s.hall_name LIKE CONCAT('%',#{hallName},'%')
    </if>
    <if test="movieName != null and movieName != ''">
      AND m.`name` LIKE CONCAT('%',#{movieName},'%')
    </if>
    <if test="isShelf != null and isShelf == 1">
      AND CONCAT(s.show_date,' ',s.show_time) > #{now}
    </if>
    <if test="isShelf != null and isShelf == 0">
      AND #{now} > CONCAT(s.show_date,' ',s.show_time)
    </if>
  </select>

  <select id="selectScheduleListByStore" resultType="com.waiend.pddou.core.schedule.vo.ScheduleVo">
    SELECT s.id, m.`name` AS movie_name, s.hall_name, s.show_date, s.show_time, mc.price
    FROM pddou_schedule s
    JOIN pddou_movie m
    ON s.movie_id=m.id
    JOIN pddou_movie_cinema mc
    ON s.cinema_id=mc.cinema_id AND s.movie_id=mc.movie_id
    WHERE s.cinema_id=#{cinemaId}
    <if test="movieName != null and movieName != ''">
      AND m.`name` LIKE CONCAT('%',#{movieName},'%')
    </if>
    <if test="hallName != null and hallName != ''">
      AND s.hall_name LIKE CONCAT('%',#{hallName},'%')
    </if>
    <if test="movieName != null and movieName != ''">
      AND m.`name` LIKE CONCAT('%',#{movieName},'%')
    </if>
    <if test="isShelf != null and isShelf == 1">
      AND CONCAT(s.show_date,' ',s.show_time) > #{now}
    </if>
    <if test="isShelf != null and isShelf == 0">
      AND #{now} > CONCAT(s.show_date,' ',s.show_time)
    </if>
    ORDER BY s.show_date
    LIMIT #{page}, #{limit}
  </select>
</mapper>