<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waiend.pddou.core.order.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.waiend.pddou.core.order.entity.OrderEntity">
    <!--@mbg.generated-->
    <!--@Table pddou_order-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="schedule_id" jdbcType="INTEGER" property="scheduleId" />
    <result column="order_num" jdbcType="CHAR" property="orderNum" />
    <result column="order_date" jdbcType="TIMESTAMP" property="orderDate" />
    <result column="ticket_num" jdbcType="TINYINT" property="ticketNum" />
    <result column="ticket_total_price" jdbcType="DECIMAL" property="ticketTotalPrice" />
    <result column="order_seat_info" jdbcType="VARCHAR" property="orderSeatInfo" />
    <result column="pay_type" jdbcType="VARCHAR" property="payType" />
    <result column="ticket_code" jdbcType="CHAR" property="ticketCode" />
    <result column="is_delete" jdbcType="BOOLEAN" property="isDelete" />
    <result column="is_delete2" jdbcType="BOOLEAN" property="isDelete2" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, schedule_id, order_num, order_date, ticket_num, ticket_total_price, 
    order_seat_info, pay_type, ticket_code, is_delete, is_delete2
  </sql>

  <select id="selectCountOrder" resultType="int">
    SELECT count(*)
    FROM pddou_order o
    JOIN pddou_user u
    ON o.user_id=u.id
    JOIN pddou_schedule s
    ON o.schedule_id=s.id
    JOIN pddou_movie m
    ON s.movie_id=m.id
    JOIN pddou_cinema c
    ON s.cinema_id=c.id
    JOIN pddou_movie_cinema mc
    ON s.movie_id=mc.movie_id AND s.cinema_id=mc.cinema_id
    <where>
      <if test="cinemaId != null">
        c.id=#{cinemaId}
      </if>
      <if test="orderNum != null and orderNum != ''">
        AND o.order_num=#{orderNum}
      </if>
      <if test="payType != null and payType != ''">
        AND o.pay_type=#{payType}
      </if>
      <if test="cinemaId != null">
        AND o.is_delete=0
      </if>
      <if test="username != null and username != ''">
        AND u.username LIKE concat('%',#{username},'%')
      </if>
      <if test="movieName != null and movieName != ''">
        AND m.`name` LIKE concat('%',#{movieName},'%')
      </if>
      <if test="cinemaName != null and cinemaName != ''">
        AND c.cinema_name LIKE concat('%',#{cinemaName},'%')
      </if>
    </where>
  </select>

  <select id="selectOrderList" resultType="com.waiend.pddou.core.order.vo.OrderVo">
    SELECT o.id, o.order_num, u.username, m.`name` AS movie_name, c.cinema_name, s.hall_name, o.order_date, o.ticket_num, o.ticket_total_price, o.ticket_code, o.pay_type, s.show_date, s.show_time
    FROM pddou_order o
    JOIN pddou_user u
    ON o.user_id=u.id
    JOIN pddou_schedule s
    ON o.schedule_id=s.id
    JOIN pddou_movie m
    ON s.movie_id=m.id
    JOIN pddou_cinema c
    ON s.cinema_id=c.id
    JOIN pddou_movie_cinema mc
    ON s.movie_id=mc.movie_id AND s.cinema_id=mc.cinema_id
    <where>
      <if test="cinemaId != null">
        c.id=#{cinemaId}
      </if>
      <if test="orderNum != null and orderNum != ''">
        AND o.order_num=#{orderNum}
      </if>
      <if test="payType != null and payType != ''">
        AND o.pay_type=#{payType}
      </if>
      <if test="cinemaId != null">
        AND o.is_delete=0
      </if>
      <if test="username != null and username != ''">
        AND u.username LIKE concat('%',#{username},'%')
      </if>
      <if test="movieName != null and movieName != ''">
        AND m.`name` LIKE concat('%',#{movieName},'%')
      </if>
      <if test="cinemaName != null and cinemaName != ''">
        AND c.cinema_name LIKE concat('%',#{cinemaName},'%')
      </if>
    </where>
    ORDER BY o.order_date DESC
    LIMIT #{page}, #{limit}
  </select>
</mapper>